* {
   
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}

:root {
    scroll-behavior: smooth;
    --theme-color: #fff;
    --text-color: #000;
    --box-shadow: #21242c80;
    --code-color: #282c34;
    --button-color: #61dafb;
    --inverse-theme-color: #20232a;
    --inverse-text-color: #fff;
    --padding-container: 0 2rem;
    --all-transitions: all 0.25s;
}

body {
    margin: 0; 
    min-height: 100vh;
    max-width: 100%;
    
}


.header {
    background-color: var(--theme-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 0.25rem 0;
    box-shadow: 0 0.25rem 0.25rem 0 var(--box-shadow);
    transition: var(--all-transitions);
    background-color: #f6efe8;
}

.header--scroll {
    background-color: var(--inverse-theme-color);
    padding: 0;
    box-shadow: none;
}

/*Section Nav*/
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: var(--padding-container);
    background-color: #f6efe8;
}

.header-nav__link-logo-container {
    height: 1.5rem;
}

.header-nav__link-logo {
    height: 100%;
    
}

.header-nav__menu-icon-container {
    height: 1rem;
    cursor: pointer;
    margin: 0;
}

.header-nav__menu-icon {
    height: 100%;
}

.header-nav__menu-icon>path {
    transition: var(--all-transitions);
}

.header-nav__menu-icon--scroll>path {
    stroke: var(--theme-color);
}

.header-nav__link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 4rem;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--code-color);
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    transition: var(--all-transitions);
}

.header-nav__link-list--left-0 {
    left: 0;
}

.header-nav__link-item {
    list-style: none;
}

.header-nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--inverse-text-color);
    transition: all 0.25s;
}

.button-container{
    display: none;
}

/*seccion banner*/
.main-text{
    font-weight: 650;
    line-height: 1.0625;
    letter-spacing: -1.5px;
    font-size: 2.75rem;
    font-family: revert;
    margin-bottom: 1rem;
    color: #000;
}

.billboard-container{
    flex-wrap: wrap;
    padding: 0 4vw;
    align-items: flex-start;
    grid-gap: normal;
    justify-content: space-between;
}

.billboard-header-copy{
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: -.2px;
    margin-top: 0;
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.billboard-btn-container{
    display: grid;
    gap: 0.5rem!important;
}

.billboard-btn {
    color: #FFF;
    appearance: none;
    background: 0 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2857;
    letter-spacing: .8px;
    font-size: .875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: block;
    width: 100%;
    transition: box-shadow 420ms;

}

.btn-free{
    background-color: #611f69 !important;
    
}

.btn-google{
    background-color: #4285f4 !important;
}

.illustration-image{
    margin-top: 2rem;
    width: 100%;
}

.companies-container{
    padding: 0 8vw;
}

.companies-container-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-item{
    max-width: 170px;
    margin: 10px;
    text-align: center;
}

.logo-image{
    max-width: 100%;
    height: auto;
}

/*section features*/

.section-feature-container{
    margin: 0 auto;
    padding: 0 4vw;
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.feature-link{
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    /* display: inline-block; */
    margin-bottom: 0;
    font-weight: 400;
    text-decoration: none;
    color: #1264a3;
    cursor: pointer;
    display: inline;
    
}

.feature-title{
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.feature-copy{
    font-weight: 400;
    line-height: 1.4444;
    letter-spacing: normal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.feature-link::after{
    background-image: url(/img/right-arrow.svg);
    content: '';
    width: 19px;
    height: 13px;
    display: inline-block;
    margin-left: 0.5em;
}

.video-snippet-container{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem 30px;
    margin-top: 2rem;
    max-width: 480px;
}

.video-snippet{
    display: flex;
    flex-direction: column;
}

.video-showcase-link{
    border-bottom: none;
    justify-content: center;
    margin: auto;
    position: relative;
}

.video-showcase-icon{
    left: unset;
    top: unset;
    right: 15px;
    bottom: 18px;
    transform: unset;
}

.video-image{
    border-radius: 6px;
    width: 100%;
}

.video-snippet-caption{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: .875rem;
}

.video-snippet-caption-title{
    font-weight: 700;
}

.video-snippet-caption-time{
    font-weight: 700;
}

.hide-on-mobile{
    display: none;
}

/*card-registration*/
.registration-container{
    padding-top: 21px;
}
.registration-section {
    background-color: #f6efe8;
    gap: 3rem;
}
.title-registration-container { 
    font-weight: 600;
    font-size: 30px;
    margin: 24px 24px;
    padding-top: 15px;
}

.cards {
    margin: 30px;
    width: 285px;
    font-size: 17px;
    font-family: revert;
}

.title-cards{
    font-weight: 700;
}
.box-image {
    width: 45px;
}

@media (min-width: 854px) {

    .header-nav {
        max-width: 641px;
        margin: 7px 112px 0;
    }

    .header-nav__menu-icon {
        display: none;
    }

    .header-nav__link-list {
        margin: 0px 40px -5px;
        position: static;
        flex-direction: row;
        width: auto;
        background-color: inherit;
        gap: 1.5rem;
    }

    .header-nav__link {
        font-size: 1rem;
        color: var(--text-color);
    }

    .header-nav__link--scroll {
        color: var(--inverse-text-color);
    }

    .button-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .button-sesion {
        border: none;
        margin: 0px 20px 0px 116px;
        font-weight: 500;
    }
    .button-buy{
        margin: 0px 0px 0px 8px;
        padding: 7px 16px;
        color: #611f69;
        font-size: 14px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        border-color: #611f69;
    }
    .button-buy:hover {
        box-shadow: inset 0 0 0 1px #611f69;
    }

    .button-free-trial{
        margin: 0px 0px 0px 8px;
        font-size: 14px;
        font-weight: 500;
        background-color: #611f69;
        border-radius: 5px;
        padding: 7px 16px;
        color: white;
        text-transform: uppercase;
    }

    /*section banner*/
    .billboard {
        background-color: #f6efe8;
    }
    .billboard-container{
        margin: 0 8vw;
        display: grid;
        grid-column-gap: 5%;
        grid-template-columns: 40% 55%;
        align-items: center;
        justify-items: self-end;
        padding: 0px 1vw;
    }

    .billboard-header {
        margin-top: 75px;
    }
    .main-text{
        font-size: 56px;
    }

    .billboard-btn-container{
        display: flex;
        flex-direction: column;
    }

    .btn-free{
        display: inline-block;
        white-space: nowrap;
        flex-basis: auto;
        width: auto;
    }

    .btn-google{
        display: inline-block;
        white-space: nowrap;
        flex-basis: auto;
        width: auto;
    }

    /*section feature*/

    .section-feature-container{
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .section-feature-container{
        grid-template-columns: 40.24390244% 48.7804878%;
        justify-items: flex-end;
        grid-column-gap: 10.97560976%;  
    }

    .hide-on-mobile{
        display: block;
    }

    .video-snippet-container{
        grid-template-columns: repeat(2,minmax(50%,225px));
    }

    .feature-title{
        font-size: 2rem;
    }

    .feature-copy{
        font-size: 1.125rem;
    }

    .video-features{
        max-height: 450px;
    }

    .second-video-feature{
        justify-items: baseline;
    }

    /*card registration*/

    .title-registration-container { 
        font-weight: 700;
        font-size: 2.375rem;
    }
    .registration-container{
        text-align: center;
        padding-top: 96px;
        
    }

    .card-registration{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0 80px;
    }

    .cards {
        margin: 80px;
        width: 285px;
        font-size: 17px;
        font-family: revert;
    }

    .title-cards{
        font-weight: 700;
    }
    .title-cards a{
        color: #09395e;
        text-decoration: none;
        border-bottom: 1px solid #0d3b5f;
    }

    .box-image {
        width: 45px;
    }

    /*seccion card*/

    .content_card__image {
        width: 250px;
        height: 200px;
    }

    .cards-contenedor-promociones {
        text-align: center;
        padding: 152px;
        font-size: 20px;
        font-weight: 600;
        background-color: #f6efe8;
        margin-top: -161px;
    }

    .content_cards {
        display: grid;
        grid-template-columns: repeat(4,1fr);
       margin: 30px;
    }

    .card {
        text-align: left;
        margin: 10px;
        padding: 2px;
        
    }
    .card-title {
        text-align: left;
    }

   /*footer*/
   .footer-container{
    background: #4a154b;
    border: none;
    clip-path: ellipse(75% 100% at center top);
    height: auto;
    min-height: 370px;
    justify-content: center;
    align-items: center;
   }
   .footer-banner-container {
    margin: auto;
    justify-content: center;
    align-items: center;
   }

}

@media only screen and (min-width: 0) and (max-width: 1023px){
    .btn-google {
        margin-top: 0.5rem;
    }

    .companies-container{
        padding: 0 4vw;
    }
}